---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Eduardo Sánchez | Portfolio">
	<main>
		<h1>Sitio<br>
			<span class="text-gradient">En construcción</span></h1>
	</main>
</Layout>

<style>
	main {
		height: 100vh;
		width: 100vw;
		max-width: calc(100% - 2rem);
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	h1 {
		font-size: 2rem;
		font-weight: 900;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
