---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Eduardo Sánchez | Portfolio">
	<main>
		<h1>Sitio<br>
			<span class="text-gradient">En construcción</span></h1>
	</main>
</Layout>

<style>
	main {
		margin: 0;
		padding: 0;
		height: 100vh; /* 100% del viewport height */
		display: flex;
		justify-content: center; /* Centra horizontalmente */
		align-items: center; /* Centra verticalmente */
		color: white;
	}
	h1 {
		font-size: 2rem;
		font-weight: 800;
		line-height: 1;
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
